<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div>
  Built at:
  <%= htmlWebpackPlugin.options.buildTime %>
</div>
<div id="root"></div>
</body>
</html>
