.header {
  $self: &;
  display: flex;
  flex-direction: row;

  &__img {
    width: 100px;
    border-radius: 20px 20px 20px 20px;

  }

  &__statistic {
    display: flex;
    float: right;
    position: revert;
    flex-direction: row-reverse;
    font-size: 28px;
    margin-top: 25px;
    margin-left: 10px;
  }


}