.header {
  $self: &;
  background-color: #3674ff;

  &__img {
    width: 100px;
    border-radius: 20px 20px 20px 20px;

  }

  &__statistic {
    display: flex;
    float: right;
    position: revert;
    flex-direction: row-reverse;
  }


}