
.chat-input {

  $self: &;

    //display: flex;
    //margin: 20px;
    position: relative;
    background-color: #97a9bc;


    &__actions {
      display: flex;
      align-items: center;
      width: 90px;
      justify-content: space-between;
      margin-left: 20px;

      i.anticon {
        cursor: pointer;
        font-size: 18px;
        opacity: 0.5;
        transition: opacity 0.15s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }




  }

  &__text {
    display: flex;
    margin-bottom: 10px;

  }

  &__name {
    width: 200px;
    margin-bottom: 10px;

  }

  &__name-header {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;

  }

  &__button-delete {
    flex-direction: row-reverse;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;

  }

  //p {
  //  margin-top: 10px;
  //  margin-bottom: 5px;
  //  margin-left: 10px;
  //}

  input {
    margin-left: 10px;
    margin-bottom: 10px;
    &:focus {
      box-shadow: none;
    }
  }
}





