@import "../../styles/variables";

.messagecontainer {
  $self: &;
  background-color: $blue;
  box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
  border-radius: 12px 12px 12px 0px;
  padding: 15px;
  margin-bottom: 8px;
  margin-left: 10px;

  &__comment-header {

      color: #ccf2e8;
  }

  &__button-div {
    display: flex;
    position: revert;
    flex-direction: row-reverse;

    &-button-edit {

      //float: left;
      flex-direction: row-reverse;
      margin-top: -3px;
      margin-bottom: 3px;
      margin-left: 0px;
      //margin-right: -61px;
    }
    &-button-delete {

      float: left;
      flex-direction: row-reverse;
      margin-top: -3px;
      margin-bottom: 3px;
      margin-left: 0px;
      margin-right: 10px;
    }
  }


}



