@import "../../styles/variables";

.message {
  $self: &;

  &__content {
    display: flex;
    max-width: 440px;
    margin-bottom: 30px;
    position: relative;

    &:hover {
      #{$self}__icon-actions {
        display: block;
      }
    }
  }

  &__avatar {
    display: flex;
    flex-direction: column-reverse;
    .avatar {
      border-radius: 50px;
      width: 33px;
      height: 33px;
      margin-right: 13px;
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 31px;
    }
  }

  &__bubble {
    background: white;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    margin-bottom: 8px;
    margin-left: 10px;
  }

  &__name {
    font-size: 14px;
    //opacity: 0.5;
    color: black;
    position: absolute;
    bottom: 6px;
    margin-bottom: 80px;
  }

  &__date {
    font-size: 12px;
    opacity: 0.5;
    color: whitesmoke;
    margin-left: 0px;
  }

  &__text {
    color: black;
    line-height: 20px;
  }

  &__attachments {
    display: flex;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    order: 1;
    &-item {
      $item: &;
      margin-right: 5px;
      cursor: pointer;
      position: relative;

      img {
        width: 45px;
        height: 45px;
        border-radius: 8px;
      }

      &:hover {
        #{$item}-overlay {
          opacity: 1;
        }
      }

      .anticon-eye {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }

      &-overlay {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        transition: opacity 0.15s ease-in-out;
        border-radius: 8px;
      }
    }
  }

  &__icon {
    &-readed {
      position: absolute;
      bottom: 0px;
      left: 30px;

      &--no {
        left: -20px;
      }
    }
    &-actions {
      display: none;
      transform: rotate(90deg);
      position: absolute;
      left: -31px;
      top: -5px;
    }
  }


  &--iscomment {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;

    .avatar {
      margin-left: 13px;
      margin-right: 0;
    }

    #{$self}__content {
      margin-bottom: 15px;
      flex-direction: row;
    }

    #{$self}__avatar {
      img {
        margin-right: 0;
        margin-left: 13px;
      }
    }

    #{$self}__info {
      display: flex;
      align-items: center;
      text-align: right;
    }

    #{$self}__name {
      font-size: 14px;
      //opacity: 0.5;
      color: black;
      margin-left: 0px;
      margin-bottom: 60px;
    }

    #{$self}__date {
      font-size: 12px;
      opacity: 0.5;
      position: absolute;
      bottom: -10px;

    }


    #{$self}__bubble {
      background: #ffffff;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
      border-radius: 12px 12px 0px 12px;
      order: 2;
      #{$self}__text {
        color: $black;
      }
    }
  }




}




